[class^="react-flow__node-resource"],
[class*="react-flow__node-resource"] {
    --outer-radius: 2.5rem;
    --inner-radius: 0.75rem;
    position: relative;
    font-size: 12px;
    width: var(--outer-radius);
    height: var(--outer-radius);
    border-radius: 100%;
}